.hidden {
  display: none;
}

.my-custom-button {
  margin: 20px 0px;
  padding: 10px 5px;
  width: 100px;
  background-color: #0275d8 ;
  color: white;
  border: none;
}

.change-button{
  background-color: rgb(225, 225, 225);
  color: grey;
}
