// Specific CSS for your home-page
.btn-home{
text-align:center;
font-size:22px;
border-radius:8px;
}


h2{
  font-family: 'Poppins', sans-serif;
  font-size:40px;
  font-weight:bold;
  margin-top:20px;
}

.container-center{
  margin:0 auto;
}
