<div class="footer">
  <div class="footer-links">
  <p>Share your toothbrush with other people near to you </p>
  </div>
  <div class="footer-copyright">
    This footer is made with so much <i class="fas fa-heart"></i>
  </div>
</div>
