* {
  margin: 0;
  padding: 0;
}

@import "listing_page";

/********Facilities********/
#facilities{
  background-color: #dbe5e6;
  padding: 30px 0;
}

#facilities h1 {
 font-weight: 900;
 font-size: 34px;
 padding-bottom: 5px;
}
