* {
  margin: 0;
  padding: 0;
}

/********Facilities********/
#facilities{
  background-color: #dbe5e6;
  padding: 30px 0;
}

#facilities h1 {
 font-weight: 900;
 font-size: 34px;
 padding-bottom: 5px;
}

.title {
  text-align: center;
  padding: 25px 0;
}

.title p {
  font-size: 18px;
}

.card-body {
  box-shadow: 0 0 20px 7px rgba(0,0,0,0.1);
}

.card {
  margin: 20px 10px;
}



.btn-bottom {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    bottom: 10px;
}

.card-text-bottom{
  margin-bottom:70px;
}
