

.card-body-listing {
  box-shadow: 0 0 20px 7px rgba(0,0,0,0.1);
}

.btn-bottom {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    bottom: 40px;
}

.card-text-bottom{
  margin-bottom:70px;
}

.row{
  margin:0!important;
}

.card img{
object-fit: cover;
}
