<p><%= user.first_name%> <%=user.last_name %></p>
<img class="card-list-user avatar-bordered" src="http://res.cloudinary.com/dg2an4buq/image/upload/v1/development/o38elsq3x5t4vzsb6r9wzruza6g5">
<p><%= user.address %></p>
<div>
<a class="btn btn-primary btn-rounded btn-soso mt-5">Book now</a>
</div>
