<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://as1.ftcdn.net/v2/jpg/02/54/15/88/1000_F_254158873_4o1cACXKRRtIaEYEcI1HP2V9F0mzQlRK.jpg);">
  <div class="container">
    <h1>Share my <strong>toothbrush</strong></h1>
    <p>Find the right toothbrush you need around the world, or rent yours to earn money!</p>
    <a class="btn btn-primary btn-home" href="#">Be ecologic, share your toothbrush!</a>
  </div>
</div>

<h2>All listings available</h2>
<p> Liste de toutes les annonces sous forme de cards</p>


<div class="container-center"><a href="/toothbrushes/new" class="btn btn-primary btn-home">Post an add and share your toothbrush!</a></div>

<h2>Categories</h2>
<p> cards fond image avec les différentes catégories ou autre</p>
