
.card-title{
    font-size:32px;
    font-weight:bold;
  }

  .card-price{
    position:absolute;
    top:20px;
    right:25px;
    background-color:#E78217;
    padding:5px 15px;
    border-radius:10px;
    color:white;
    font-size:22px;
  }

  .card-status{
    position:absolute;
    top:0;
    right:0;
    background-color:#b4b4b4;
    padding:5px 15px;
    border-radius:10px;
    color:white;
    font-size:22px;
  }

  .color-orange{
    color:#E78217;
  }

  .card-text{
    font-size:20px;
    margin-bottom:10px!important;
  }

  .card-list {
    opacity: 1;
  }

  .card-list:hover {
    opacity: 0.8;
  }

  .container-card-flex{
    justify-content:space-between;
    padding:0 20px;
  }


  .btn-book a{
      background-color:#058ED9;
      color: white;
      font-size:25px;
      padding:5px 50px;
      border-radius:8px;
    }


  .container-btn{
    text-align:center;
  }


  .card-cat-home{
    width:30%;
  }
