
.navbar-lewagon {
  justify-content: space-between;
  background: white;
  box-shadow: 5px 2px 20px #c7c7c7;
  position:sticky;
  height:70px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-item{
  padding:2px 25px;
.nav-link{
  font-size:20px;
}
}

.badge-position {
  position: relative;
  top: -15px;
  left: -15px;
}
